<?xml version="1.0" encoding="utf-8"?>
<Containers>
  <Container Key="-1592402827">
    <Items>
      <Item Id="{fc39b31e-3027-4b21-adab-fac0e0de0544}">
        <Id>1</Id>
        <File>THelper\Tests\THelperTest.cs</File>
        <Line>1534</Line>
        <Character>12</Character>
      </Item>
      <Item Id="{7672a9ea-57d0-4367-9840-41e553795fe1}">
        <Id>2</Id>
        <File>THelper\Tests\THelperTest.cs</File>
        <Line>1091</Line>
        <Character>48</Character>
      </Item>
      <Item Id="{d619deab-6b13-465c-8d15-2f8f4e5375ed}">
        <Id>3</Id>
        <File>THelper\Classes\ProjectProcessor.cs</File>
        <Line>333</Line>
        <Character>36</Character>
      </Item>
    </Items>
  </Container>
</Containers>