<?xml version="1.0" encoding="utf-8"?>
<Containers>
  <Container Key="-1592402827">
    <Items>
      <Item Id="{befad912-29e2-459a-9e70-ae2a1fb19f92}">
        <Id>1</Id>
        <File>THelper\Classes\ProjectProcessor.cs</File>
        <Line>318</Line>
        <Character>13</Character>
      </Item>
      <Item Id="{c0f8ca1e-142e-4344-8a7b-08ce238025e7}">
        <Id>2</Id>
        <File>THelper\Classes\ProjectProcessor.cs</File>
        <Line>384</Line>
        <Character>26</Character>
      </Item>
    </Items>
  </Container>
</Containers>